.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  width: 100%;
  top: 0;
}

.h1 {
  margin: 0px;
  font-size: 4rem;
  line-height: 4rem;
  background: linear-gradient(90.35deg, #ba94d8 3.41%, #d62bbf 90.33%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}