.landingPage {
    background: url('../../assets/PATRON.png')no-repeat center center fixed ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content:center;
    align-items: center;
  }

.button{
text-decoration: none;
background-color: black;
}

.explore{
    position:absolute;
    right: 20px;
    top:20px;
}